<div class="filter-title">{{strings.title}}</div>
<div class="filter-root-container
            {{#className}} {{className}}{{/className}}
            {{^showIcons}} no-icons{{/showIcons}}
            {{#isDisabled}} disabled{{/isDisabled}}">

  {{#useOverlay}}
    <div class="filter-overlay" />
  {{/useOverlay}}

  <div class="filter-root-header"/>

  <div class="filter-root-body filter-expand-{{expandMode}}" >

    <div class="filter-root-control">

      <div class="filter-controls">
        {{#showCommitButtons}}
        <div class="filter-control-buttons" />
        {{/showCommitButtons}}

        {{#showFilter}}
        <div class="filter-filter">
          <input type="text" value="{{searchPattern}}"
                 placeholder="{{strings.searchPlaceholder}}"
                 class="filter-filter-input">
          <div class="filter-filter-icon"/>
          <div class="filter-filter-clear"/>
        </div>
        {{/showFilter}}
      </div>

      <div class="filter-root-selection"/>
    </div>

    <div class="filter-root-items-container">
      <div class="filter-root-items" />
    </div>
    <div class="filter-root-footer" />
  </div>
</div>
