<div class="filter-group-container
            {{#className}} {{className}}{{/className}}
            {{#styles}} {{.}} {{/styles}}
            {{^showIcons}} no-icons{{/showIcons}}">

    <div class="filter-group-header"/>

    <div class="filter-group-body">

        {{#showFilter}}
        <div class="filter-group-control">
            <div class="filter-controls">
                {{> filter}}
            </div>
        </div>
        {{/showFilter}}

        <div class="filter-group-items-container">
            <div class="filter-group-items"></div>
        </div>
    </div>

    <div class="filter-group-footer">
        {{#showPagination}}
        <button class="filter-btn-more-data">{{strings.moreData}}</button>
        {{/showPagination}}
        {{{footer}}}
    </div>
</div>
