<div class="filter-root-selection">
    {{#showGroupSelection}}
    <div class="filter-root-selection-icon
                  {{#isPartiallySelected}} some-selected{{/isPartiallySelected}}
                  {{^isPartiallySelected}}
                  {{#isSelected}} all-selected{{/isSelected}}
                  {{^isSelected}} none-selected{{/isSelected}}
                  {{/isPartiallySelected}}" />
    <div class="filter-root-selection-label">{{{strings.groupSelection}}}</div>
    {{#showValue}}
    <div class="filter-root-selection-value">{{{value}}}</div>
    {{/showValue}}
    {{/showGroupSelection}}

    {{#showListOfSelectedItems}}
    <div class="filter-selected-items">
        {{#selectedItems}}
        <span class="filter-selected-item">{{.}}</span>
        {{/selectedItems}}
    </div>
    {{/showListOfSelectedItems}}
</div>
